body {
    background-color:bisque;
    margin: 24px 24px 24px 24px;
}

header {
    background-color: #593232;
    text-align: center;
    font: size 69px; ;
   
}

.puppyclass{
    background-color: rgb(13, 72, 150);

}

img{
    width: 500px;
}

footer{
    background-color:rgb(56, 129, 153);
}

nav{
    font-size: 19px ;
}

.info-container {
    text-align: left;  /* Align the text to the left */
    margin-top: 20px;
    padding-left: 20px;  /* Move the text slightly to the right */
    max-width: 800px; /* Optional: Limit the width of the content */
    margin: 0 auto; /* Center the content horizontally */
}

.info-container ul {
    list-style-position: inside; /* Adjusts the position of list markers */
    text-align: left; /* Centers the text in the list items */
    padding-left:0px; /* Remove default padding from the list */
    max-width: 800px; /* Optional: Limit the width of the content */
    margin: 0 auto; 
}

.Pets {
    text-align: center;
    width: 400px; 
}

ul {
font-family: monospace;
}

a {
    color: darkgreen;
}
